{% extends 'base.html.twig' %}

{% block body %}

    <h2>Update a season !</h2>
    {{ form_start(seasonForm) }}
    {{ form_widget(seasonForm) }}
    <button>Update !</button>
    {{ form_end(seasonForm) }}

{% endblock %}